.app-background {
  background: linear-gradient(to right, #ce4444, #e8964e);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding-top: 70px; /* Asegúrate de que el contenido tenga suficiente espacio desde la parte superior */
  z-index: 0; /* Contenido principal debe estar debajo del navbar y dropdown */
}
